# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars

# Backend
backend/tmp/
backend/.env
backend/.env.*

# Frontend
frontend/node_modules/
frontend/dist/

# Env overrides
*.env.local
*.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
